{% extends "main/base.html" %}

{% block title %}Newsletter{% endblock %}

{% block content %}
<section class="section">
    <div class="container is-max-desktop">
        <h1 class="is-size-1">Gostou do repositório?</h1>
        <h2 class="is-size-3">Quer acompanhar mais notícias sobre o Porto Central de Presidente Kennedy?</h2>
        <p class="is-size-5">Assine nossa newsletter para receber as últimas notícias e atualizações diretamente no
            seu e-mail!</p>

        <form method="post">
            {{ form.csrf_token }}
            <div class="field">

                <label class="label"> {{form.email.label}}</label>
                <div class="control">
                    {{ form.email(class="input") }}
                </div>
                <button class="button is-primary mt-2" type="submit">Assinar Newsletter</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}
